.board-card {
  font-size: 1.6rem;
  font-weight: 700;
  height: 6.4rem;
  width: 26.85rem;
  border-radius: 3px;
  padding: 0.8rem;
  color: #FFFFFF;
  cursor: pointer;
  background-image: url('../../../../assets/image/board-card-bg.png');
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.board-card:hover, 
.board-card:active {
  box-shadow: inset 0 0 0 100rem rgba(0, 0, 0, 0.1);
}