.section-wrapper {
  box-sizing: border-box;
  display: inline-block;
  margin: 0 0.4rem;
  vertical-align: top;
  white-space: nowrap;
  min-width: 27.2rem;
  max-width: 27.2rem;
  border-radius: 3px;
  max-height: 100%;
}

.section-wrapper > .section {
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  white-space: normal;
  width: 100%;
  max-height: calc(100vh - 14rem);
}

.section-wrapper > .section > .header {
  display: flex;
  align-items: center;
  min-height: 3.6rem;
  padding: 0.6rem 0.8rem;
  position: relative;
}

.section-wrapper > .section > .header > .title {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.4rem;
  padding: 0.4rem 0;
  flex-grow: 1;
  margin-right: 0.4rem;
  max-width: calc(100% - 3.2rem);
}

.section-wrapper > .section > .body {
  padding: 0 0.8rem;
  overflow: hidden auto;
}

.section-wrapper >.section > .loading {
  position: relative;
  min-height: 2.4rem;
}

.section-wrapper > .section > .footer {
  padding: 0 0.8rem 0.8rem;
}

.burger-menu {
  position: relative;
}